* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #858585;
}

.top-navbar {
    width: 100%;
    height: 7vh;
    background-color: #a9a9a926;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.top-icons {
    margin-left: 45px;
}

.top-icons i,
.other-links i {
    font-size: 20px;
    color: #1c1c50;
    margin-left: 10px;
    cursor: pointer;
}

.other-links {
    margin-right: 33px;
}

#btn-login,
#btn-signup {
    width: 100px;
    height: 5vh;
    border: 2px solid #1c1c50;
    color: #1c1c50;
    font-weight: bold;
    border-radius: 5px;
    transition: 1s ease;
    cursor: pointer;
}

#btn-login a,
#btn-signup a {
    text-decoration: none;
    color: #1c1c50;
    transition: 1s ease;
}

#btn-login a:hover,
#btn-login:hover,
#btn-signup:hover,
#btn-signup a:hover {
    background-color: #1c1c50;
    color: white;
}

@media screen and (max-width:350px) {

    .top-icons {
        margin-left: 5px;
    }

    .top-icons i,
    .other-links i {
        font-size: 10px;

    }

    .other-links {
        margin-right: 10px;
    }

    #btn-login,
    #btn-signup {
        width: 50px;
        height: 5vh;
        font-size: 13px;

    }
}

@media screen and (max-width:500px) {

    .top-icons {
        margin-left: 5px;
    }

    .top-icons i,
    .other-links i {
        font-size: 10px;

    }

    .other-links {
        margin-right: 10px;
    }

    #btn-login {
        width: 50px;
        height: 5vh;
        font-size: 13px;
    }

    #btn-signup {
        width: 60px;
        height: 5vh;
        font-size: 13px;
    }
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////*/
.dropdown-item:hover {
    background-color: white;
    color: black;
}

.navbar .btn {
    width: 100px;
    height: 6vh;
    border: 2px solid #ffffff;
    color: #707070;
    font-weight: bold;
    border-radius: 5px;
    transition: 1s ease;
    cursor: pointer;
}

.navbar {
    z-index: 1;
}

.navbar .btn:hover {
    background-color: rgba(7, 7, 80, 0.668);
    border: 2px solid #ffffff;
    color: white;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////*/
.home {
    position: relative;
    background-color: aqua;
}

.home .img {
    position: absolute;
}

.home .content {
    text-align: start;
    margin-left: 0;

}

.content h3 {
    margin-left: 70px;
    font-size: 50px;
    text-shadow: 1px 1px 1px black;
    color: #1c1c50;
    font-weight: bold;
}

.content h3 span {
    font-size: 40px;
}

.content p {
    margin-left: 70px;
    color: #1c1c50;
}

.content #shopnow {
    margin-left: 70px;
    width: 200px;
    height: 38px;
    border: 2px solid #1c1c50 !important;
    font-weight: bold !important;
    transition: 1s ease !important;
    cursor: pointer !important;
}

.content #shopnow:hover {
    background-color: #1c1c50 !important;
    color: white !important;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////*/

.sec {
    margin-top: 700px;

}


@media screen and (max-width:1300px) {
    .sec {
        margin-top: 1050px !important;
    }
}

@media screen and (max-width:1090px) {
    .sec {
        margin-top: 940px !important;
    }
}

@media screen and (max-width:800px) {
    .sec {
        margin-top: 750px !important;
    }
}


/*//////////////////////////////////////////////////////////////////////////////////////////////////*/
#contact {
    margin-top: 50px;
}

#contact h1 {
    color: #1c1c50;
    text-shadow: 0px 0px 1px black;
}

#contact .card {
    height: 80px;
    margin-top: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#contact .card i {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 15px;
    color: #1c1c50;
    font-weight: bold;
    letter-spacing: 3px;
}

#contact .card h6 {
    margin-left: 10px;
    margin-top: 10px;
    letter-spacing: 3px;
    font-weight: bold;
    color: #1c1c50;
}

#messagebtn button {
    margin-top: 30px;
    width: 200px;
    height: 33px;
    background: transparent;
    border: 2px solid #1c1c50;
    color: #1c1c50;
    font-weight: bold;
    letter-spacing: 3px;
    transition: 0.5 ease;
}

#messagebtn button:hover {
    background-color: #1c1c50;
    color: white;
}



/*////////////////////////////////////////////////////////////////////////////////////////////////*/
#side1 {
    width: 400px;
    height: 500px;
    text-align: center;
    background-color: #171748;
    color: #ffffff;
    padding-top: 180px;
    border-radius: 10px;
}

#side1 h3 {
    font-size: 35px;
}

#side1 #btn {
    text-align: center;
    width: 350px;
    height: 4vh;
    border: 2px solid #ffffff;
    color: #ffffff;

    font-weight: bold;
    border-radius: 10px;

    cursor: pointer;
    background-color: #1c1c50;

}

#side2 {
    background-color: white;
    width: 600px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    align-items: center;
    text-align: center;
}

#side2 h3 {
    margin-top: 50px;
    color: #1c1c50;
}

#side2 .inp {
    margin-top: 32px;
}

#side2 input {
    width: 500px;
    height: 36px;
    align-items: center;
}

#side2 p {
    margin-top: 20px;
    cursor: pointer;
}

#side2 .icon i {
    margin-left: 10px;
    cursor: pointer;
}

#login {
    margin-top: 10px;
}

#login button {
    width: 200px;
    height: 32px;
    color: white;
    background-color: #1c1c50;
    border-radius: 10px;
    font-weight: bold;
}

@media screen and (max-width:500px) {
    #side2 input {
        width: 300px;
    }
}

@media screen and (max-width:320px) {
    #side2 input {
        width: 310px;
    }
}



.b .btn {
    background-color: rgb(15, 15, 55);
    width: 150px;
    height: 38px;
    color: white;
    margin-left: 690px !important;
}


@media screen and (max-width:1090px) {
    .b .btn {
        margin-left: 320px !important;
    }
}

@media screen and (max-width:800px) {
    .b .btn {
        margin-left: 160px !important;
    }
}




/*/////////////////////////////////////////////////////////////////////////////////////////////////*/

.collapse {
    margin-left: 80px;

}

.nav-link {
    margin-left: 25px;
}

.dropdown-item {
    color: white !important;
}

.dropdown-item:hover {
    color: black !important;
}

.b1 {
    color: rgb(23, 23, 41);
}

/*/////////////////////////////////////////////////////////////////////////////////////*/
.b2 {
    border: 1px solid white;
    color: rgba(5, 4, 61, 0.862);
}

.b2:hover {
    background-color: #1c1c50;
    color: white !important;
}

/*////////////////////////////////////////////////////////////////////////////////////*/


.s1 {
    margin-left: 20px;
}

.s {
    margin-left: -15px;
}

.over {
    width: 500px;
    height: 500px;
}

.sec2 {
    margin-top: 600px;
}

.title {
    text-align: center;
}

.s2 {
    margin-left: 20px;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////*/

.sec4 {
    margin-top: 90px;
}

.sec4 i {

    font-size: 90px;
    color: #1c1c50;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////*/

.foot {
    color: white !important;
}